
.nav {
    grid-area: nave;
    background-color: rgb(34, 141, 201);
    padding: 20px;
    border-radius: 2px 14px 14px 2px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: rgb(20, 22, 45);
}

.frwrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 15px;
    min-height: 500px;
}
.frwrap div{
text-align: right;
}
.frwrap img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.friendrow {
    display: flex;
    flex-flow: row;
}
