
.nav {
    grid-area: nave;
    background-color: rgb(218, 194, 186);
    padding: 20px;
}

.item a {
    color: rgb(165, 41, 41);
    text-decoration: none;
}

.item a.active {
    color: rgb(128, 33, 165);
}

.frwrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 15px;
    min-height: 500px;
}
.frwrap div{
text-align: right;
}
.frwrap img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.friendrow {
    display: flex;
    flex-flow: row;
}
