.formControl.error input, .formControl.error textarea {
    border: solid #ff4f28 1px ;
}
.formControl.error span {
    color: lightcoral;
}
.formGlobalError{
    border: #1b6292 2px solid;
    padding: 5px;
    color: lightcoral;
    width: 300px;
    border-radius: 5px;
}
.container{
    padding-left: 8px;
}
.inRow{
    display: flex;
    flex-direction: row;
}