.App {
  grid-template-areas:
  "head head"
  "nave cont";
  display: grid;
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 5px;
}
.App-content{
  grid-area: cont;
  background-color: rgb(192, 223, 248);
  display:grid;
  border-radius: 14px 1px 1px 14px;
}
.App-content img{
  width: 900px;
  height: 200px;
}